.taskRow {
  padding: 0.75rem;
  margin-bottom: 0.5rem;

  &:hover {
    background-color: #f9fafb;
  }
}
.border {
  border-top: 0.1px solid gray;
}
.container {
  margin-left: 15px;
  padding: 10px;

  .addDate {
    background-color: transparent;
    color: white;
    text-transform: none;
    outline: none;
    box-shadow: none;
    width: fit-content;
  }

  .btn-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .cancel-btn {
    color: #000000;
  }
  .add-btn {
    background-color: #7b1984;
    color: #fff;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  align-items: center;
}

.titleCell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  .titles {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}

.dates {
  font-size: 0.875rem;
  font-weight: 500;
}

.badge {
  padding: 0.25rem 0.75rem;
  border-radius: 9999px;
  font-size: 0.875rem;
  font-weight: 500;
}

.actions {
  display: flex;
  gap: 0.5rem;

  button {
    padding: 0.25rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: #f3f4f6;
    }
  }
}
